{% extends 'base.html' %}
{% block head %}
    <title>Brew - Home</title>
    <script type=text/javascript 
         src="{{ url_for('static', filename = 'javascripts/home.js') }}" ></script>
{% endblock %}
{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="container">
        <div class='row p-4'>
            <div class='col-md-5'>
                <div class='form-group'>
                    <div class='row container-fluid'>
                        <label for='cocktail-search'><h4>Cocktail Search</h4></label>
                        <input class='form-control form-control-large' type='text' name='cocktail-search' id='cocktail-search'>
                        <small id='cocktailSearchContext' class='form-text text-muted'>This app is powered by <a href=https://thecocktaildb.com>TheCocktailDB</a></small>
                    </div>
                </div>
                <div id='focused-cocktail' class='row container-fluid'>
                    <div class='card' style='width:auto; margin:auto;'>
                        <img id='focused-cocktail-img' src='' class='card-img-top' alt=''>
                        <div class='card-body'>
                            <h5 id='focused-cocktail-name' class='card-title'>Cocktail Name</h5>
                            <p id='focused-cocktail-details' class='card-text'>placeholder</p>
                            <div class='btn-group' role='group'>
                                <input type='button' class='btn btn-warning focus-cocktail-rating' value='Really like'>
                                <input type='button' class='btn btn-success focus-cocktail-rating' value='Like'>
                                <input type='button' class='btn btn-danger focus-cocktail-rating' value='Dislike'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-7'>
                <h4>Your Recommendations</h4>
                <hr>
                <div id='recommendations-container' class='row container-fluid pt-4'></div>
            </div>
        </div>

        <!-- <div class="container" id="review_form_container">
            <form action='/' method='POST'>
                    <input type="text" name='drink_id' id='drink_id' placeholder="Cocktail ID from CocktailDB">
                    <h4>How did you like the drink?</h4>
                    <input type="radio" name="preference" id='preference' value="2"> Really liked<br>
                    <input type="radio" name="preference" id='preference' value="1"> Liked<br>
                    <input type="radio" name="preference" id='preference' value="-1"> Disliked<br>
                    <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div> -->
    </div>
{% endblock %}