{% block head %}
    <title>Brew - Home</title>
{% endblock %}
{% block content %}
    <div class="container">
        <a href='/reviews'>See your already placed reviews</a>
        <div class="container" id="review_form_container">
            <form action='/' method='POST'>
                    <input type="text" name='drink_id' id='drink_id' placeholder="Cocktail ID from CocktailDB">
                    <h4>How did you like the drink?</h4>
                    <input type="radio" name="preference" id='preference' value="2"> Really liked<br>
                    <input type="radio" name="preference" id='preference' value="1"> Liked<br>
                    <input type="radio" name="preference" id='preference' value="-1"> Disliked<br>
                    <input class="btn btn-default" type="submit" value="Submit">
            </form>
        </div>
        <div class="container" id="drink_recommendation_container">
            <ul>
                {% for drink in drink_list %}
                    <li>Drink Name: {{drink['strDrink']}}Drink ID: {{drink['idDrink']}}}}
                        <img src='{{drink["strDrinkThumb"]}}' alt='Thumb for {{drink["strDrink"]}}'>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}