{% extends 'base.html' %}
{% block head %}
    <title>Brew - Login</title>
{% endblock %}
{% block content %}
    <div class='container'>
  
      <div class='mx-auto mt-5' style='width:400px;'>
        <h2 class='mx-auto'>BREW</h2>
        <hr>
        <form method='post'>
          <div class='form-group'>
            <div class='row container-fluid'>
              <label for='username'>Username</label>
              <input class='form-control form-control-large' type='text' name='username' id='username'>
              <small id='usernameContext' class='form-text text-muted'>This website is for test purposes and is not secure. Please do not input secure credentials or bad data.</small>
            </div>
          </div>
            <button class='btn btn-primary' type='button submit2'>Login</button>
        </form>

      </div>
    
    </div>
{% endblock %}