{% block head %}
    <title>Brew - Your Recommendations</title>
{% endblock %}
{% block content %}
    <div class="container"></div>
        <a href='/'>Back to Home</a>
        <div class="container">
            <div class="container" id="drink_recommendation_container">
                <ul>
                    {% for drink in drink_list %}
                        <li>
                            Drink Name: {{drink['strDrink']}} | Drink ID: {{drink['idDrink']}} <br>
                            <img style='width:300px' src='{{drink["strDrinkThumb"]}}' alt='Thumb for {{drink["strDrink"]}}'>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}