{% extends 'base.html' %}
{% block head %}
    <title>Brew - Your Reviews</title>
    <script type='text/javascript'
         src="{{ url_for('static', filename = 'javascripts/review_index.js') }}" ></script>
    <link rel='stylesheet'
         href="{{ url_for('static', filename = 'stylesheets/review_index.css') }}" >
{% endblock %}
{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="container">
        <div class='row container-fluid' id='review-list-container'>
        </div>
    </div>
{% endblock %}