{% block head %}
    <title>Brew - Your Reviews</title>
{% endblock %}
{% block content %}
    <div class="container"></div>
        <a href='/'>Back to Home</a>
        <br>
        <div class="container">
            <div class="container" id="review_list_container">
                    <ul id="review list">
                        {% for review in review_list %}
                            <li>Drink ID: {{review['drink_id']}} | Your Rating: {{review['preference']}}
                                <form action='/delete_review/{{review["drink_id"]}}' method='POST'>
                                    <input class='button' type='submit' value='Delete Review'>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}